<% form_for @project, :html => { :multipart => true } do |f| -%>
  <p><%= f.label :name %><br /><%= f.text_field :name %></ br>
    <p><%= f.label :project_type %><br /><%= f.text_field :project_type %></p>
    <p><%= f.label :client %><br /><%= f.text_field :client %></p>
    <p><%= f.label :description %><br /><%= f.cktext_area :description, :toolbar=>"Full" %></p>

    <p><%= f.label :screenshot, "Screenshot" %><br /><%= f.file_field :screenshot %></p>

    <p><%= f.submit %></p>
<% end -%>

