<% form_for @project, :html => { :multipart => true } do |f| -%>
  <ul>
    <li><%= f.label :name %>: <%= f.text_field :name %></li>
    <li><%= f.label :project_type %>: <%= f.text_field :project_type %></li>
    <li><%= f.label :client %>: <%= f.text_field :client %></li>
    <li><%= f.label :description %>: <%= f.text_area :description %></li>

    <li><%= f.label :screenshot, "Screenshot" %>: <%= f.file_field :screenshot %></li>

    <li><%= f.submit %></li>
  </ul>
<% end -%>

