<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= render :partial => "layouts/htmlhead" %>
    <%= yield(:head) %>
  </head>
  <body <%= yield :body_tag %> >
    <div id="container">
      <%= render :partial => "layouts/header" %>
      <section id="content">
				<div class="wrap">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>
          <article>
            <%= content_tag :h3, yield(:title) if show_title? %>
            <%= yield %>
          </article>
				</div>
			</section>
			<%= render :partial => "layouts/footer" %>
    </div>
  </body>
</html>

